# Version control
.git/
.github/
.gitignore
# Development files
.vscode/
dist/
*.log
.editorconfig
.prettierignore
.prettierrc
.eslintrc.json
eslint.config.js
config.dev.json
# Documentation
docs/
# Dependencies (installed in container)
node_modules/
# Dev Resources
datas/
zessais/
client.js
nodemon.json
