{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "useTabs": false,
  "overrides": [{ "files": ["*.json5"], "options": { "parser": "json5", "singleQuote": false, "objectWrap": "preserve" } }]
}
